/* Document styles */
#mainContents .term
{
	padding: 0px 0px 0px 0px;
	font: 13pt 'LM Roman 10', serif;
}
#mainContents .term li
{
	display: inline;
	list-style-type: none;
}
#mainContents .term li:before
{
	content: "\2014";
	padding: 0px 10px 0px 10px;
}
#mainContents .term li:first-child:before
{
	content: "\200B";
	padding: 0px 0px 0px 0px;
}
#mainContents .position
{
	padding: 0px 0px 0px 0px;
	font: 13pt 'LM Roman 10', serif;
}
#mainContents .position li
{
	display: block;
	list-style-type: none;
}
