/* Fonts */
/* Comfortaa */
@font-face
{
	font-family: 'Comfortaa';
	src: url('shared/comfortaa.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'Comfortaa';
	src: url('shared/comfortaa-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
/* LM Roman 10 */
@font-face
{
	font-family: 'LM Roman 10';
	src: url('shared/lm-roman10.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'LM Roman 10';
	src: url('shared/lm-roman10-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face
{
	font-family: 'LM Roman 10';
	src: url('shared/lm-roman10-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face
{
	font-family: 'LM Roman 10';
	src: url('shared/lm-roman10-bold-italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face
{
	font-family: 'LM Roman 10 Caps';
	src: url('shared/lm-roman10-caps.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'LM Roman 10 Caps';
	src: url('shared/lm-roman10-caps-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
/* LM Sans 10 */
@font-face
{
	font-family: 'LM Sans 10';
	src: url('shared/lm-sans10.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'LM Sans 10';
	src: url('shared/lm-sans10-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face
{
	font-family: 'LM Sans 10';
	src: url('shared/lm-sans10-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face
{
	font-family: 'LM Sans 10';
	src: url('shared/lm-sans10-bold-italic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
/* LM Mono 10 */
@font-face
{
	font-family: 'LM Mono 10';
	src: url('shared/lm-mono10.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'LM Mono 10';
	src: url('shared/lm-mono10-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face
{
	font-family: 'LM Mono 10 Caps';
	src: url('shared/lm-mono10-caps.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'LM Mono 10 Caps';
	src: url('shared/lm-mono10-caps-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

/* Document styles */
body
{
	margin: 6px 6px 6px 6px;
}
hr
{
	border: 1px solid #555753;
	clear: both;
}
.paragraph
{
	font: medium 'LM Roman 10', serif;
	text-indent: 30px;
	line-height: 150%;
	margin: 9px 0px;
}
.paragraph ul
{
	margin: 0px 0px;
	padding: 0px 0px;
	list-style-position: inside;
}
.paragraph li
{
	text-indent: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 8px;
}
.quote
{
	background: url('shared/quote-left.png') top left no-repeat, url('shared/quote-right.png') bottom right no-repeat;
	padding: 0px 30px 0px 30px;
}
.code
{
	font-family: 'LM Mono 10', monospace;
}
.errorMsg
{
	font-family: 'LM Roman 10', serif;
	background: url('shared/alert.png') no-repeat left top;
	color: red;
	height: 20px;
	padding: 0px 0px 0px 20px;
}
img
{
	max-width: 100%;
	max-width: calc(100% - 10px);
	*max-width: expression(document.body.clientWidth-10);
	height: auto;
}
object, iframe
{
	max-width: 100%;
	max-width: calc(100% - 10px);
	*max-width: expression(document.body.clientWidth-10);
	height: auto;
}
/* Styles for the header pane */
#header
{
	display: inline-block;
	clear: both;
	margin: 6px 0px 6px 0px;
	padding: 0px 6px 0px 6px;
	width: 99%;
	width: calc(100% - 12px);
	*width: expression(document.body.clientWidth-12);
	background-color: #f4f4f4;
	position: relative;
	z-index: 50;
}
#header .primary
{
	display: block;
	font: bold x-large 'Comfortaa', sans-serif;
	margin: 0px;
	padding: 8px 0px 4px 4px;
	width: calc(100% - 85px);
	float: left;
	clear: left;
}
#header .social
{
	padding: 0px 0px 0px 0px;
	width: 80px;
	float: right;
	clear: right;
}
#header .social li
{
	display: inline;
	list-style-type: none;
}
#header .social li a img
{
	border-style: none;
	vertical-align: middle;
}
/* For the navigation menu */
#header #links
{
	display: block;
	font: large 'LM Sans 10', sans-serif;
	position: relative;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	background-color: #eeeeec;
	overflow: auto;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
#header #links li
{
	display: inline-block;
	*display: inline;
	height: 100%;
	background-color: #f3f3f3;
	border: 1px solid #babdb6;
	padding: 0px 12px 0px 12px;
	list-style-type: none;
}
#header #links a
{
	color: #000000;
	text-decoration: none;
}
#header #links a:active
{
	text-decoration: underline;
}
#header #links a.here
{
	font-weight: bold;
}
/* For sub-menus of the navigation menu */
#header #links ul
{
	display: none;
	position: absolute;
	top: 100%;
	max-width: 250px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
#header #links li:hover + ul, #header #links ul:hover
{
	display: table;
	*display: block;
}
#header #links ul li
{
	display: table-cell;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
	border: 1px solid #babdb6;
	margin: 0px 0px 0px 0px;
	padding: 0px 12px 0px 12px;
	list-style-type: none;
}
#header #links ul a
{
	color: #000000;
	text-decoration: none;
}
#header #links ul a:active
{
	text-decoration: underline;
}
#header #links ul a.here
{
	font-weight: bold;
}
/* For sub-menus with multiple sections */
#links ul ul
{
	display: table;
	*display: block;
	position: relative;
	top: 100%;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
#header #links ul ul li
{
	display: table-cell;
	clear: both;
	width: 100%;
	background-color: #f3f3f3;
	border: 1px solid #babdb6;
	font-size: 90%;
	margin: 0px 0px 0px 0px;
	padding: 0px 12px 0px 12px;
	list-style-type: none;
}
#header #links ul ul a
{
	color: #000000;
	text-decoration: none;
}
#header #links ul ul a:active
{
	text-decoration: underline;
}
#header #links ul ul a.here
{
	font-weight: bold;
}
/* Styles for forms */
form input[type=button],[type=submit]
{
	display: block;
	font: medium 'LM Sans 10', sans-serif;
	margin: 3px 10px 3px 10px;
	height: 40px;
	width: calc(100% - 24px);
	*width: expression(document.body.clientWidth-24);
}
/* Styles for the main contents pane */
#mainContents
{
	display: block;
	background-color: #f4f4f4;
	margin: 6px 0px 6px 0px;
	padding: 0px 6px 0px 6px;
	width: 100%;
	width: calc(100% - 12px);
	*width: expression(document.body.clientWidth-12);
	position: relative;
	z-index: 30;
}
#mainContents .mainPhoto
{
	display: block;
	background-color: inherit;
	padding: 10px 0px 0px 10px;
}
#mainContents .heading
{
	display: block;
	font: bold large 'Comfortaa', sans-serif;
	margin: 0px;
	padding: 8px 10px 4px 10px;
}
#mainContents .entries
{
	display: block;
	margin: 5px 0px 5px 0px;
	padding: 5px 5px 5px 5px;
	background-color: #eeeeec;
}
#mainContents .entries .heading
{
	display: block;
	font: bold large 'Comfortaa', sans-serif;
	margin: 0px;
	padding: 5px 5px 0px 5px;
}
#mainContents .entry
{
	display: block;
	padding: 10px 10px 10px 10px;
	background-color: #f4f4f4;
}
#mainContents .entry .headingClassTitle
{
	display: block;
	float: right;
	font: 12pt 'Comfortaa', sans-serif;
}
#mainContents .entries .headingLink
{
	display: block;
	float: right;
	font: 12pt 'Comfortaa', sans-serif;
}
#mainContents .entries .headingLink a
{
	color: blue;
	text-decoration: underline;
}
#mainContents .entries .entry
{
	margin: 5px 0px 5px 0px;
	padding: 5px 5px 5px 5px;
}
#mainContents .entry .heading
{
	display: block;
	margin: 0px;
	padding: 5px 0px 0px 0px;
}
#mainContents .entry .subHeading
{
	display: block;
	font: large 'Comfortaa', sans-serif;
	margin: 0px;
	padding: 5px 0px 0px 0px;
}
#mainContents .links
{
	padding: 0px 0px 0px 0px;
	font: 12pt 'LM Sans 10', sans-serif;
}
#mainContents .links li
{
	display: inline;
	list-style-type: none;
}
#mainContents .links li a
{
	color: blue;
	text-decoration: underline;
}
/* Styles for the footer */
#footer
{
	display: block;
	clear: both;
	font: medium 'LM Sans 10', sans-serif;
	background-color: #f4f4f4;
	margin: 6px 0px 6px 0px;
	padding: 0px 6px 0px 6px;
	width: 100%;
	width: calc(100% - 12px);
	*width: expression(document.body.clientWidth-12);
	position: relative;
	z-index: 30;
}
#footer .heading
{
	display: block;
	font: bold large 'Comfortaa', sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}
#footer .address
{
	display: block;
	font-family: 'LM Roman 10 Caps';
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
#footer .address li
{
	display: inline-block;
	*display: inline;
	padding: 2px 12px 2px 2px;
	list-style-type: none;
}
#footer .links
{
	display: block;
	float: right;
	clear: both;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
#footer .links li
{
	display: inline;
	padding: 2px 12px 2px 2px;
	list-style-type: none;
}
#footer .copyNotices
{
	display: block;
	clear: both;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
#footer .copyNotices li
{
	list-style-type: none;
}
#footer .copyNotices ul
{
	padding-left: 10px;
	font-size: 90%;
}
#footer .emailLink
{
	cursor: pointer;
	border-bottom: 1px solid blue;
	vertical-align: middle;
}
